In [9]:
#STARTING WITH 84 ZIPFILES, MAKE ORD_OTP.CSV

import pandas as pd
import numpy as np
import zipfile as zp

In [31]:
entries = []

for i in range(84):
    if i == 0:
        with zp.ZipFile('../data/otp/1051953426_T_ONTIME_REPORTING.zip') as myzip:
            myzip.extract('1051953426_T_ONTIME_REPORTING.csv',path='../data/otp')
            df = pd.read_csv('../data/otp/1051953426_T_ONTIME_REPORTING.csv')
            entries.append(df.query('DEST == "ORD"'))
            
    else:
        with zp.ZipFile('../data/otp/1051953426_T_ONTIME_REPORTING '+'('+str(i)+').zip') as myzip:
            myzip.extract('1051953426_T_ONTIME_REPORTING.csv', path ='../data/otp')
            df = pd.read_csv('../data/otp/1051953426_T_ONTIME_REPORTING.csv')
            entries.append(df.query('DEST == "ORD"'))

In [32]:


len(entries)

84

In [33]:
combined_ord = pd.concat(entries)

In [39]:
combined_ord = combined_ord.drop(columns=['ORIGIN_AIRPORT_ID','ORIGIN_AIRPORT_SEQ_ID',
                                          'ORIGIN_CITY_MARKET_ID','DEST_CITY_MARKET_ID',
                                          'Unnamed: 15'])

In [43]:
combined_ord

,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST,ARR_TIME,ARR_DELAY
19,1,2013-01-07,AA,N3DEAA,618,SFO,13930,1393002,ORD,7.0,-8.0
20,1,2013-01-14,AA,N3DDAA,618,SFO,13930,1393002,ORD,10.0,-5.0
21,1,2013-01-21,AA,N3DJAA,618,SFO,13930,1393002,ORD,7.0,-8.0
22,1,2013-01-28,AA,N3AMAA,618,SFO,13930,1393002,ORD,19.0,4.0
90,1,2013-01-07,AA,N456AA,153,MCO,13930,1393002,ORD,806.0,-4.0
...,...,...,...,...,...,...,...,...,...,...,...
602408,7,2019-11-17,OO,N124SY,5225,SYR,13930,1393007,ORD,822.0,-46.0
602413,7,2019-11-17,OO,N103SY,5230,PIT,13930,1393007,ORD,1427.0,-16.0
602429,7,2019-11-17,OO,N143SY,5246,BTV,13930,1393007,ORD,907.0,-13.0
602433,7,2019-11-17,OO,N969SW,5250,LNK,13930,1393007,ORD,2026.0,16.0
602436,7,2019-11-17,OO,N693BR,5253,CRW,13930,1393007,ORD,1550.0,-31.0

In [45]:
combined_ord['ARR_HOUR'] = combined_ord['ARR_TIME']//100

In [47]:
combined_ord.to_csv('../data/ORD_OTP.csv')